.container {
  padding: 20px;
}

.container-principal {
  background-color: $primary;
  padding: 20px;
  height: 410px;

  .content {
    text-align: center;
    color: $white;
    line-height: 1.5;

    h1 {
      margin-top: 120px;
      text-transform: uppercase;
    }

    p {
      font-size: 12px;
      margin-bottom: 40px;
    }
  }
}

div.order,
div.filter {
  display: flex;
  justify-content: center;
}
.mosaic {
  flex-wrap: wrap;
  display: flex;
}

div.container-images {
  justify-content: center;
  width: 80%;
  margin-left: 10%;

  div.image {
    margin: 5px;
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $primary;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      & .bg-image {
        transition: 0.5s;
        transform: scale(1.1);
        opacity: 0;
      }
      & .content {
        opacity: 1;
      }
    }

    .bg-image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    .content {
      color: $white;
      opacity: 0;
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      transition: 0.5s;
      max-width: 100px;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.5;
      font-size: 13px;
    }
  }
}

.container-center {
  justify-content: center;
  display: inline;
  button {
    margin: 0 auto;
    display: block;
  }
  p {
    font-size: 12px;
    text-align: center;
    color: $textGrey;
  }
}

@media (max-width: 980px) {
  div.filter,
  div.order {
    display: none;
  }
  div.container-images {
    display: inline;
  }
}
