.btn {
  height: 35px;
  border: none;
  font-size: 10px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.btn-primary {
  text-transform: uppercase;
  min-width: 120px;
  background-color: $white;
  color: $primary;
  transition: 0.3s;
  &:hover {
    background-color: $grey;
  }
}

.btn-secondary {
  text-transform: capitalize;
  min-width: 120px;
  background-color: $primary;
  color: $white;
  transition: 0.3s;
}

.btn-small {
  color: $primary;
  background-color: $white;
}

.btn-menu {
  background-color: transparent;
  position: fixed;
  right: 50px;
  top: 35px;
  z-index: 5;
  @media (min-width: 980px) {
    display: none;
  }
}
